* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.top-bar {
  background-color: #4caf50;
  height: 50px;
}
.menu {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 0;
  font-size: 20px;
}
.menu a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
}
.menu a:hover {
  background-color: #f1f1f1;
}
.menu i:hover {
  background-color: #f1f1f1;
}
.search-container {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  width: 360px;
}
.search-container input[type="text"] {
  padding: 6px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}
.search-container button {
  padding: 6px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #ddd;
  cursor: pointer;
  margin-left: 20px;
  width: fit-content;
}
.search-container button:hover {
  background-color: #ccc;
}
.cart-icon {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-icon {
  color: black;
  font-size: 24px;
}
.cart-icon:hover,
.user-icon:hover {
  background-color: #f1f1f1;
  transform: scale(1.2);
}
.cover-image {
  background-image: url(anhbia.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
}
.tieude {
  font-size: 50px;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-top: 80px;
  text-align: center;
}

.highlight {
  color: #4caf50;
  text-align: center;
}
.image-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  margin-top: 20px;
  padding-top: 70px;
  padding-bottom: 40px;
}

.image-gallery img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #ddd;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.image-gallery img:hover {
  transform: scale(1.1);
}
.additional-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 50px;
  margin-top: 20px;
  padding-top: 70px;
  padding-bottom: 40px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.image-wrapper:hover {
  transform: scale(1.05);
}

.additional-images img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.shop-now-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-now-btn:hover {
  background-color: #45a049;
}
.hottest-plants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 70px;
  padding-bottom: 40px;
  max-width: 1200px;
  border-radius: 10px;
  padding: 20px;
}

.hottest-plants .image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 22%;
  transition: transform 0.3s ease;
  background-color: #ffffff;
}

.hottest-plants .image-wrapper:hover {
  transform: scale(1.05);
}

.hottest-plants img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.buy-btn {
  margin-top: 10px;
  padding: 10px 0;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.buy-btn:hover {
  background-color: #45a049;
}
.deals-section {
  text-align: center;
  padding: 50px 20px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.product {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 250px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product p {
  margin: 10px 0;
}

.price {
  font-size: 1.2em;
  color: #1a7c4a;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 10px;
}

.discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1a7c4a;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

button {
  background-color: #1a7c4a;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.testimonials-section {
  background-color: rgb(232, 237, 222);
  padding: 50px 20px;
  text-align: center;
}

.testimonials-section h2 {
  font-size: 2em;
}

.testimonials-section p {
  color: #777;
}

.testimonials {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.testimonial img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.stars {
  color: #ffc107;
}

footer {
  background-color: #fff;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

footer ul {
  list-style: none;
  margin-bottom: 20px;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  color: black;
  text-decoration: none;
}

footer .social-media a {
  margin: 0 5px;
}

footer .social-media img {
  width: 24px;
  height: 24px;
}
.no-decoration {
  text-decoration: none;
}

.flex-header {
  display: flex;
  align-items: center;
}
.nav-bar {
  margin-left: 18rem;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-item {
  font-size: small;
  padding: 9px 20px !important;
}
